httpx
pydantic
fastapi
requests
uvicorn
agno
python-dotenv
typing-extensions
a2a-sdk[sqlite]
a2a-sdk[http-server]
sqlalchemy
packaging==25.0
starlette
sse-starlette
uagents-adapter
google-generativeai
google-genai
firecrawl-py

